*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./ImagenIntro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    
}

.Motorsport h1{
    font-size: 2.6rem;
    color: white !important;
    top: 50%;
    left: 50%;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}


body {
    background-color: gray;
}

.menu ul {
    position: absolute;
    top: 5%;
    right: 50%;
    display: flex;
    gap: 30px;
    list-style: none;
    font-style: none;
    outline-style: none;
    list-style-type: none;
}

.menu a{
    text-decoration: none;    
}

.Caracteristicas{
    position: absolute;
    top: 110%;
    right: 70%;
    width: 150px;
    border-style: 10%;
}

.Caracteristicas2{
    position: absolute;
    top: 110%;
    right: 20%;
}

.Caracteristicas ul {
    position: absolute;
    top: 110%;
    right: 10%;
    display: flex;
}